<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>898019114287-77uia0trs8scj3uljog3e8834unavefc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.898019114287-77uia0trs8scj3uljog3e8834unavefc</string>
	<key>API_KEY</key>
	<string>AIzaSyBsEL-DOghCDaC-QPix9Yt1kw8fD3H5Ox8</string>
	<key>GCM_SENDER_ID</key>
	<string>898019114287</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.inventoryapp</string>
	<key>PROJECT_ID</key>
	<string>inventory-app-4767e</string>
	<key>STORAGE_BUCKET</key>
	<string>inventory-app-4767e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:898019114287:ios:7e2ac8fc89695b256b75da</string>
</dict>
</plist>